<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://25.90.60.189:3306/sagha?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">aplicacao</property>
    <property name="hibernate.connection.password">aplicacao</property>
    <mapping resource="Model/AtendimentoDrg.hbm.xml"/>
    <mapping resource="Model/Agente.hbm.xml"/>
    <mapping resource="Model/HospitaisRegiao.hbm.xml"/>
    <mapping resource="Model/Gerente.hbm.xml"/>
    <mapping resource="Model/Hospital.hbm.xml"/>
    <mapping resource="Model/Drg.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
